* {
    background-color: pink;
}

h1 {
    color: #ff0000;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: #000000; */
    /* opacity: 0.6; */
}

p {
    color: hsla(200, 100%, 50%, 0.2);
}