h3{
    background-color: antiquewhite;
    margin: 2px;
    padding: 2px;
    height:25px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.special{
    height:40px;
}
.container {
    border: 1px solid red;
    height: 150px;
    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
}

