.container {
    background-color: pink;
    /* height: 250px; */
}

h1,
p {
    background-color: rgba(0, 0, 0, 0.5);
}


h1 {
    /* width: 50%; */
}

/* p {
    height: 50%;
    overflow: hidden;
} */









































h1 {
    /* border: 10px solid red; */
    /* border-width: 10px 0 0 0;
    border-style: solid double dotted dashed;
    border-color: red green blue yellow; */


    /* border: 5px solid red;
    border-bottom-color: green;
    border-top-style: dashed;
    border-top-width: 20px; */




}

body{
    margin: 0;
}
.container{
    padding: 20px;
}

h1{
    border: 5px solid red;
    /* padding: 10px 15px 20px 40px; */
    /* padding-left: 40px; */
    margin: 0;
}
p{
    border: 5px solid red;
    margin: 0;

    margin-top: 10px;
    /* margin-left: 5px; */
    /* padding-left: 15px; */
}

